<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
    	<route id="reverbprocessqueue" frontName="reverbprocessqueue">
            <module name="Reverb_ProcessQueue" before="Mage_Adminhtml" />
        </route>
        <!-- <route id="adminhtml">
            <module name="reverb_process_queue" after="Mage_Adminhtml"/>
        </route> -->
    </router>
</config>
