<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
    	<route id="reverbreports" frontName="reverbreports">
            <module name="Reverb_Reports" before="Mage_Adminhtml" />
        <!-- <route id="adminhtml">
            <module name="reverb_reports" before="Mage_Adminhtml"/> -->
        </route>
    </router>
</config>
