<?xml version="1.0"?>
<config>
  <default>
    <ReverbSync>
      <extensionOption_group>
        <!-- By default, logging will be turned off to prevent bloating of log files on client servers -->
        <enable_logging>0</enable_logging>
      </extensionOption_group>
      <reverbDefault>
        <enable_listing_creation>0</enable_listing_creation>
        <require_reverb_category_definition>0</require_reverb_category_definition>
        <enable_image_sync>0</enable_image_sync>
        <revCond>Brand New</revCond>
        <revInvent>1</revInvent>
        <offers_enabled>1</offers_enabled>
      </reverbDefault>
      <extension>
        <revUrl>https://sandbox.reverb.com</revUrl>
      </extension>
      <listings_update_switches>
        <title>0</title>
        <price>0</price>
        <description>0</description>
        <inventory_qty>1</inventory_qty>
      </listings_update_switches>
      <listings_field_attributes>
        <description>description</description>
      </listings_field_attributes>
      <orders_sync>
        <enabled>0</enabled>
        <super_mode_enabled>0</super_mode_enabled>
        <order_sync_reverb_source_url>/api/my/orders/selling/all?created_start_date=%s</order_sync_reverb_source_url>
        <!-- Default orders to be synced to the Admin store -->
        <store_to_sync_order_to>0</store_to_sync_order_to>
        <!-- The set of order statuses which should be regarded as constituting NOT being a paid order -->
        <paid_order_statuses>
          <paid/>
        </paid_order_statuses>
      </orders_sync>
      <stale_task_deletion>
        <enabled>1</enabled>
        <stale_period_in_days>7</stale_period_in_days>
      </stale_task_deletion>
    </ReverbSync>
    <reverbsync>
      <extensionOption_group>
        <!-- By default, logging will be turned off to prevent bloating of log files on client servers -->
        <enable_logging>0</enable_logging>
      </extensionOption_group>
      <extension>
        <revurl>https://sandbox.reverb.com</revurl>
      </extension>
    </reverbsync>
  </default>
</config>
